*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav img{
    width: 90px;
    height: 90px;
}

nav  .nav-link{
    color: black;
}

nav  .nav-link:hover{
    color: orange;
}

nav ion-icon{
    margin-left: 30px;
    font-size: 40px;
    cursor: pointer;
}

nav .btn-secondary{
    background-color: orange !important;
    border: none !important;
    width: 10rem;
    height: 3rem;
    font-size: 20px !important;
    margin-left: 20%;
}

.sec1 .card{
    height: 30rem !important;
    text-align: center;
    padding: 30px;
    background-color: #036457 !important;
}


#formation img{
    width: 50px;
    height: 50px;
}

#formation .color{
    height: 30rem !important;
    text-align: center;
    padding: 30px;
    background-color: #036457 !important;
}

#formation .programme{
    display: inline-block;
}

#cours img{
    width: 100px;
    height: 100px;
    margin: 40px 60px;
}
#cours .border{
    height: 15rem !important;
    width: 20rem;
    border-radius: 20px;
    margin: 5px;
}

.part1 img{
    width: 50px;
    height: 50px;
}

#diplome .container-fluid{
    background-color: #f44236 !important;
}

#diplome .imag{
    width: 100%; 
}



#coachs .btn{
    justify-content: center !important;
    align-items: center !important;
}

#coachs img{
    width: 60% !important;
    margin: 20px 60px;
}


#coachs .border{
    background-color: grey;
    width: 20px !important;
    height: 20px;
    border-radius: 100%;
    margin-left: 50px;
}